In [3]:
# 71
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [4]:
# 72
movie_rank = ('닥터 스트레인지', '스플릿', '럭키')

In [6]:
# 73 - 다시
number = (1)
print(type(number))

number1 = (1, )
print(type(number1))

<class 'int'>
<class 'tuple'>

In [9]:
# 74 - 다시
t = (1, 2, 3)
t[0] = 'a'
# 오류발생원인 : 튜플은 원소의 값을 변경할 수 없기 때문이다.

TypeError: 'tuple' object does not support item assignment

In [10]:
# 75 - 다시
t = 1, 2, 3, 4
type(t)
# tuple : 원칙적으로 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작

tuple

In [11]:
# 76 - 다시
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
t
# 튜플의 값을 변경할 수 없기 때문에 t[0] = 'A'는 에러가 발생하고 t변수를 업데이트 해주어야 한다.

('A', 'b', 'c')

In [14]:
# 77 - 다시
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = list(interest)
type(interest)

list

In [15]:
# 78
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest = tuple(interest)
type(interest)

tuple

In [16]:
# 79
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
# 정답 : apple banana cake

apple banana cake

In [20]:
# 80 - 다시
even = tuple(range(2, 100, 2))
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [21]:
# 81 - 다시
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b = scores
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

- 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 한다. 하지만 star expression(*)을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없다.

In [23]:
# 82
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [24]:
# 83
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 84
temp = {}

In [25]:
# 85
ice_cream_price = {'메로나':1000, '폴라포':1200, '빵빠레':1800}

- [딕셔너리 추가, 삭제, 수정](https://devinside.tistory.com/161)

In [26]:
# 86 - 다시
ice_cream_price['죠스바']=1200
ice_cream_price['월드콘']=1500
ice_cream_price

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [27]:
# 87
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print('메로나 가격: ', ice['메로나'])

메로나 가격:  1000

In [28]:
# 88 - 다시
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나']=1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [29]:
# 89 - 다시
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del(ice['메로나'])
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [30]:
# 90
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
# 에러가 난 이유 : icecream 딕셔너리에는 '누가바'라는 key가 없기 때문이다.

KeyError: '누가바'

In [31]:
# 91 - 다시
inventory = {"메로나": [300, 20],
            "비비빅": [400, 3],
            "죠스바": [250, 100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [33]:
# 92
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0], "원")

300 원

In [34]:
# 93
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [35]:
# 94
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [39]:
# 95 - 다시
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [40]:
# 96
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [42]:
# 97
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(sum(price))

6700

In [46]:
# 98 - 다시
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [48]:
# 99 - 다시
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [49]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [ ]:
# 101 - 다시
# True 혹은 False를 갖는 데이터 타입 : bool타입

In [50]:
# 102
print(3 == 5)
# 정답 : False

False

In [51]:
# 103
print(3 < 5)
# 정답 : True

True

In [52]:
# 104
x = 4
print(1 < x < 5)
# 정답 : True

True

In [53]:
# 105
print ((3 == 3) and (4 != 3))
# 정답 : True

True

In [54]:
# 106
print(3 => 4)
# 에러가 발생하는 이유 : =>는 의미가 없기 때문(지원하지 않는 연산자)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1548934863.py, line 2)

In [55]:
# 107
if 4 < 3:
    print("Hello World")
# 정답 : None(아무런 결과도 출력되지 않는다.)

In [56]:
# 108
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
# 정답 : Hi, there.

Hi, there.

In [57]:
# 109 - 다시
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
# 정답 : 1 2 4(조건은 이미 True -> 1 2 + print("4") -> 4)

1
2
4

In [58]:
# 110
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
# 정답 : 3 5

3
5

In [60]:
# 111 - 다시
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [63]:
# 112
user = input("숫자를 입력하세요:")
print(int(user) + 10)

숫자를 입력하세요:30
40

In [64]:
# 113
user = input("입력:")
if int(user)%2 == 0:
    print("짝수")
else :
    print("홀수")

입력:30
짝수

In [66]:
# 114
user = input("입력값: ")
if int(user) + 20 <= 255:
    print("출력값: ", int(user) + 20)
else :
    print("출력값: ", 255)

입력값: 240
출력값:  255

In [68]:
# 115
user = input("입력값: ")
num = int(user) - 20
if num < 0:
    print("출력값: ", 0)
elif num > 255:
    print("출력값 :", 255)
else :
    print("출력값: ", num)

입력값: 15
출력값:  0

In [71]:
# 116 - 다시
user = input("현재시간: ")
if user[3:] == "00":
    print("정각 입니다.")
else :
    print("정각이 아닙니다.")

현재시간: 02:00
정각 입니다.

In [73]:
# 117 - 다시
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은? ")
if user in fruit:
    print("정답입니다.")
else :
    print("오답입니다.")

좋아하는 과일은? 사과
정답입니다.

In [74]:
# 118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("투자 종목명: ")
if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

투자 종목명: Google
투자 경고 종목입니다.

In [82]:
# 119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은: ")
if user in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

제가 좋아하는 계절은: 봄
정답입니다.

In [80]:
# 120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은: ")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

제가 좋아하는 계절은: 한라봉
오답입니다.

In [87]:
# 121 - 다시
user = input("문자: ")
if user.islower() == True:
    print(user.upper())
else:
    print(user.lower())

문자: a
A

[upper, lower, isupper, islower](https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=daeqws4&logNo=221378618418)
- islower() : 소문자 여부 판별 / upper() / lower()

In [88]:
# 122
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 83
grade is A

In [89]:
# 123 - 다시
exchange = {"달러": 1167, "엔": 1.096, "유로": 1268, "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * exchange[currency], "원")

입력: 100 달러
116700.0 원

In [90]:
# 124
number1 = input("number1: ")
number2 = input("number2: ")
number3 = input("number3: ")
print(max(int(number1), int(number2), int(number3)))

number1: 10
number2: 9
number3: 20
20

In [91]:
# 124 다른 정답
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 10
input number2: 9
input number3: 20
20

In [92]:
# 125
user = input("휴대전화 번호 입력: ")
if user[:3] == "011":
    print("당신은 SKT 사용자입니다.")
elif user[:3] == "016":
    print("당신은 KT 사용자입니다.")
elif user[:3] == "019":
    print("당신은 LGU 사용자입니다.")
else:
    print("알수없음")

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [9]:
# 126
user = input("우편번호: ")
if user[2] in ["0","1","2"]:
    print("강북구")
elif user[2] in ["3","4","5"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
도봉구

In [7]:
# 127
user = input("주민등록번호: ")
if user[7] in ["1","3"]:
    print("남자")
else:
    print("여자")

주민등록번호: 821010-1635210
남자

In [6]:
# 128
user = input("주민등록번호: ")
if user[8:10] in ['00','01','02','03','04','05','06','07','08']:
    print("서울 입니다.")
else:
    print("서울이 아닙니다")

주민등록번호: 861010-1015210
서울 입니다.

In [14]:
# 129
user = input("주민등록번호: ")
first = int(user[0])*2 + int(user[1])*3 + int(user[2])*4 + int(user[3])*5 + int(user[4])*6 + int(user[5])*7 + int(user[7])*8 + int(user[8])*9 + int(user[9])*2 + int(user[10])*3 + int(user[11])*4 + int(user[12])*5
first_re = first % 11
second = 11 - first_re
if int(user[13]) == second:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [28]:
# 130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

print(btc.keys())
print(btc.values())

dict_keys(['opening_price', 'closing_price', 'min_price', 'max_price', 'units_traded', 'acc_trade_value', 'prev_closing_price', 'units_traded_24H', 'acc_trade_value_24H', 'fluctate_24H', 'fluctate_rate_24H', 'date'])
dict_values(['22856000', '22775000', '22751000', '22906000', '1755.02673539', '40087953915.7702', '22857000', '1761.77468617', '40242178910.8223', '-81000', '-0.35', '1670770442761'])

In [32]:
if float(btc['opening_price']) + float(btc['max_price']) - float(btc['min_price']) > float(btc['max_price']):
    print("상승장")
else:
    print("하락장")

상승장

In [33]:
# 131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
# 정답 : 사과 귤 수박

사과
귤
수박

In [34]:
# 132 - 다시
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
# 정답 : ??? -> 들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다.

#####
#####
#####

In [36]:
# 133
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [38]:
print("A")
print("B")
print("C")

A
B
C

In [39]:
# 134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [40]:
print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C

In [41]:
# 135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [42]:
print("변환: a")
print("변환: b")
print("변환: c")

변환: a
변환: b
변환: c

In [46]:
# 136
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [43]:
for 변수 in ["10", "20", "30"]:
    print(변수)

10
20
30

In [45]:
# 137
print(10)
print(20)
print(30)

10
20
30

In [44]:
for 변수 in ["10", "20", "30"]:
    print(변수)

10
20
30

In [48]:
# 138
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [47]:
for 변수 in ["10","20","30"]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [50]:
# 139
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [49]:
print("++++")
for 변수 in ['10','20','30']:
    print(변수)

++++
10
20
30

In [53]:
# 140
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [52]:
for 변수 in range(4):
    print("-------")

-------
-------
-------
-------