In [1]:
# 141
리스트 = [100, 200, 300]
for i in 리스트 :
    print(i + 10)

110
210
310

In [3]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트 :
    print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [4]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [5]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [16]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [9]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [11]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i, "=", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [13]:
# 148
리스트 = ["가", "나", "다", "라"]
for i in 리스트[1:]:
    print(i)

나
다
라

In [14]:
# 149
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::2]:
    print(i)

가
다

In [15]:
# 150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [17]:
# 151
리스트 = [3, -20, -3, 44]
for i in 리스트[1:3]:
    print(i)

-20
-3

In [18]:
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [20]:
# 152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [22]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [23]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [26]:
# 155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [27]:
# 156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == False:
        print(i)

b
c

In [30]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper() + i[1:])

Dog
Cat
Parrot

In [29]:
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [38]:
# 158 - 다시
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    split = i.split(".")
    print(split[0])

hello
ex01
intro

In [41]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i[-1] == 'h':
        print(i)

intra.h
define.h

In [43]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
  split = i.split(".")
  if split[1] == "h":
    print(i)

intra.h
define.h

In [45]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    split = i.split(".")
    if split[1] == "h" or split[1] == "c":
        print(i)

intra.h
intra.c
define.h

In [46]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    if i[-1] == 'h' or i[-1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [47]:
# 161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [48]:
# 162
for i in range(2002, 2051, 4): # range 세번 째 파라미터는 증감폭 결정
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [49]:
# 163
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [56]:
# 164 - 다시
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

[range 거꾸로](https://lightjean.tistory.com/24)

In [71]:
# 165 - 다시
for i in range(10):
    print("0.", i, sep="") # sep으로 공백 없애기

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [58]:
for i in range(10):
    print(i / 10)
# / 10 : 10으로 나눠주어 소수로 표현

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [59]:
# 166
for i in range(1, 10):
    print("3 x", i, "=", i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [60]:
# 167
for i in range(1, 10, 2):
    print("3 x", i, "=", i*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [68]:
# 168 - 다시
k = 0 # 다른 변수를 설정해 그 변수에 i를 더해나가기

for i in range(1, 11):
    k += i
print("합 :", k) # print를 for문에서 벗어나야 전체합을 볼 수 있다. 벗어나지 않으면 for문 안에서 계속 돌아감.

합 : 55

In [69]:
# 169
k = 0

for i in range(1, 11, 2):
    k += i
print("합: ", k)

합:  25

In [70]:
# 170
k = 1
for i in range(1, 11):
    k *= i
print(k)

3628800

In [72]:
# 171 - 다시
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [73]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [80]:
# 172 - 다시
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [74]:
price_list = [32100, 32150, 32000, 32500]
for i, k in enumerate(price_list):
    print(i, k)

0 32100
1 32150
2 32000
3 32500

[enumerate()](https://www.daleseo.com/python-enumerate/)

In [78]:
# 173 - 다시
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [77]:
price_list = [32100, 32150, 32000, 32500]
for i, k in reversed(list(enumerate(price_list))):
    print(i, k)

3 32500
2 32000
1 32150
0 32100

[reversed, enumerate](http://daplus.net/python-%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%97%90%EC%84%9C-%EB%AA%A9%EB%A1%9D%EC%9D%84-%EC%97%AD%EC%88%9C%EC%9C%BC%EB%A1%9C-%EC%88%9C%ED%9A%8C/)

In [82]:
# 174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(100 + 10 * (i-1), price_list[i])

100 32150
110 32000
120 32500

In [84]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [85]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [86]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(3, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [87]:
# 178
my_list = [100, 200, 400, 800]
for i in range(len(my_list) - 1):
    print(my_list[i+1] - my_list[i])

100
200
400

In [91]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [92]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
for i in range(len(low_prices)):
    print(high_prices[i] - low_prices[i])

50
100
30
80
0

In [94]:
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [ ]:
# 181(리스트)
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [ ]:
# 182(리스트)
stock = [["시가", "100", "200", "300"], ["종가", "80", "210", "330"]]

In [ ]:
# 183(딕셔너리)
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}

In [ ]:
# 184(딕셔너리)
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}

In [95]:
# 185 - 다시
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [97]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row:
        print(col, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [100]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart[::-1]:
    for col in row[::-1]:
        print(col, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [103]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [106]:
# 189 - 다시
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [107]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]

for row in apart:
    for col in row:
        print(col, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [108]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for k in i:
        print(k*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [109]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for k in i:
        print(k*1.00014)
    print('-----')

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [110]:
# 193 - 다시
result = []

for i in data:
    for k in i:
        result.append(k*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

[append](https://ooyoung.tistory.com/117)

In [112]:
# 194 - 다시
result = []

for i in data:
    sub = []
    for k in i:
        sub.append(k*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [115]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [118]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [119]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

100
310

In [121]:
# 198
volatility = []

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

[40, 30, 10]

In [122]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [124]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

k = 0

for i in ohlc[1:]:
    k += i[3] - i[0]
print(k)

0