In [1]:
# 1
print("Hello World")

Hello World

In [2]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
# 3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
# 4
print('"C:\Windows"')

"C:\Windows"

In [6]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# 정답 : \t = tab, \n = 줄바꿈

안녕하세요.
만나서		반갑습니다.

In [7]:
# 6 
print("오늘은", "일요일")
# 정답 : 오늘은 일요일

오늘은 일요일

In [8]:
# 7
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [9]:
# 8
print('naver/kakao/sk/samsung')

naver/kakao/sk/samsung

In [13]:
# 9 - 다시
print(end="first");print("second")

firstsecond

In [12]:
# 10
print(5/3)

1.6666666666666667

In [15]:
# 11
삼성전자 = 50000
10*삼성전자

500000

In [17]:
# 12
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

In [19]:
# 13
s = "hello"
t = "python"
print(s+"! "+t)

hello! python

In [20]:
# 14
2 + 2 * 3
# 8

8

In [21]:
# 15
a = 132
print(type(a))

<class 'int'>

In [25]:
# 16
num_str = "720"
num_int = int(num_str)
print(type(num_int))

<class 'int'>

In [26]:
# 17
num = 100
num_str = str(num)
print(type(num_str))

<class 'str'>

In [27]:
# 18
num_str = "15.79"
num_float = float(num_str)
print(type(num_float))

<class 'float'>

In [71]:
# 19 - 다시
year = "2020"
num_int = int(year)
print(type(num_int))

print(num_int-3)
print(num_int-2)
print(num_int-1)

<class 'int'>
2017
2018
2019

In [38]:
# 20
month = 48583
print(month*36)

1748988

In [44]:
# 21
letters = 'python'
print(letters[:1], letters[2:3])

p t

In [46]:
# 22
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [49]:
# 23 - 다시
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [50]:
# 24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [69]:
# 25 - 다시
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [70]:
# 26 - 다시
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [53]:
# 27 - 다시
url = "http://sharebook.kr"
print(url[17:])

kr

In [54]:
# 28 - 다시
lang = 'python'
lang[0] = 'P'
print(lang)
# 정답 : 에러가 뜬다.

TypeError: 'str' object does not support item assignment

In [58]:
# 29
string = 'abcdfe2a354a32a'
capital_A = string.replace('a','A')
print(capital_A)

Abcdfe2A354A32A

In [59]:
# 30 - 다시
string = 'abcd'
string.replace('b', 'B')
print(string)
# 정답 : abcd

abcd

In [60]:
# 31
a = "3"
b = "4"
print(a + b)
# 정답 : 34

34

In [61]:
# 32
print("Hi" * 3)
# 정답 : HiHiHi

HiHiHi

In [63]:
# 33
print('-' * 80)

--------------------------------------------------------------------------------

In [68]:
# 34
t1 = 'python'
t2 = 'java'
print((t1+' '+ t2+' ') * 4)

python java python java python java python java

In [74]:
# 35 - 다시
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [73]:
# 36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [76]:
# 37 - 다시
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f'이름: {name1} 나이: {age1}')
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13

[f-string](https://blockdmask.tistory.com/429)

In [78]:
# 38
상장주식수 = "5,969,782,550"
상장주식수1 = 상장주식수.replace(",", "")
int_type = int(상장주식수1)
print(int_type, type(int_type))

5969782550 <class 'int'>

In [79]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [80]:
# 40
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [81]:
# 41
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [82]:
# 42
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [83]:
# 43
str = "hello"
str2 = str.capitalize()
print(str2)

Hello

In [86]:
# 44 - 다시
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [88]:
# 45 - 다시
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [89]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [91]:
# 47
a = "hello world"
a.split()

['hello', 'world']

In [92]:
# 48
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [93]:
# 49
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [94]:
# 50 - 다시
data = "039490     "
data.rstrip()

'039490'

In [95]:
# 51
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']

In [97]:
# 52 - 다시
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [98]:
# 53
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [99]:
# 54
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [100]:
# 55
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [101]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1 + lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [104]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [105]:
# 58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [106]:
# 59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [109]:
# 60 - 다시
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print(average)

3.0

- mean 사용 -> numpy.mean(리스트, 튜플)  
[mean()](https://yang-wistory1009.tistory.com/71)

In [110]:
# 61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [111]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [112]:
# 63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [113]:
# 64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [114]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[-1])

삼성전자 Naver

In [117]:
# 66 - 다시
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [118]:
# 67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [119]:
# 68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [123]:
# 69
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [126]:
# 70 - 다시
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]