In [1]:
# 201
def print_coin():
    print("비트코인")

In [2]:
# 202
print_coin()

비트코인

In [4]:
# 203 - 다시
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [5]:
# 204
def print_coins():
    for i in range(100):
        print("비트코인")

In [6]:
# 205
hello()
def hello():
    print("Hi")
# 정답 : hello함수를 만들기 전에 hello() 호출했기 때문이다.

NameError: name 'hello' is not defined

In [7]:
# 206
def message() :
    print("A")
    print("B")

message() # A B
print("C") # C
message() # A B

A
B
C
A
B

In [8]:
# 207
print("A") 

def message() :
    print("B")

print("C")
message()
# A\n C\n B

A
C
B

In [9]:
# 208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
# A\n C\n B\n E\n D

A
C
B
E
D

In [10]:
# 209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
# B\n A

B
A

In [11]:
# 210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()
# B\n C\n B\n C\n B\n C\n A

B
C
B
C
B
C
A

In [12]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
# 안녕\n Hi

안녕
Hi

In [13]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
# 7\n 15

7
15

In [14]:
# 213
def 함수(문자열) :
    print(문자열)
    
함수()
# 함수() 안에 문자열을 넣어주어야 하는데 아무 것도 넣어주지 않았기 때문에(함수를 호출할 때 하나의 파라미터를 입력해야 한다.) 에러가 발생한다.

TypeError: 함수() missing 1 required positional argument: '문자열'

In [15]:
# 214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# a, b는 같은 타입의 값을 입력받아야 하는데 문자열과 숫자를 입력해 더할 수 없기 때문에 에러가 발생한다.

TypeError: can only concatenate str (not "int") to str

In [18]:
# 215
def print_with_smile(문자열):
    print(문자열, ":D") # , 대신에 + 써주어도 됨

In [19]:
# 216
print_with_smile("안녕하세요")

안녕하세요 :D

In [20]:
# 217
def print_upper_price(price):
    print(print * 1.3)

In [21]:
# 218
def print_sum(a, b):
    print(a + b)

In [24]:
# 219
def print_arithmetic_operation(a, b):
    print("{} + {}".format(a, b), "=", a + b)
    print("{} - {}".format(a, b), "=", a - b)
    print("{} * {}".format(a, b), "=", a * b)
    print("{} / {}".format(a, b), "=", a / b)

In [25]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [26]:
# 220
def print_max(a, b, c):
    if a > b and a > c:
        print(a)
    elif b > a and b > c:
        print(b)
    elif c > a and c > b:
        print(c)

In [27]:
# 221
def print_reverse(str):
    print(str[::-1])
    
print_reverse("python")

nohtyp

In [29]:
# 222 - 다시
def print_score(a, b, c):
    print((a+b+c)/3)
    
print_score(1, 2, 3)

2.0

In [30]:
def print_score(score_list):
    print(sum(score_list)/len(score_list))
    
print_score([1, 2, 3])

2.0

In [39]:
# 223 - 다시
def print_even(number_list):
    for i in number_list:
        if i % 2 == 0:
            print(i)
    
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [44]:
# 224
def print_keys(dic):
    for i in dic.keys():
        print(i)
        
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [45]:
# 225 - 다시
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, key):
    print(my_dict[key])
        
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [53]:
# 226 - 다시
def print_5xn(string):
    length = int(len(string) / 5)
    for i in range(length + 1):
        print(string[i * 5: i * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [54]:
# 227 - 다시
def print_mxn(string, k):
    length = int(len(string) / k)
    for i in range(length + 1):
        print(string[i * k: i * k + k])
        
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [50]:
# 228
def calc_monthly_salary(annual_salary):
    print(int(annual_salary / 12))
    
calc_monthly_salary(12000000)

1000000

In [51]:
# 229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
# 정답 : 왼쪽: 100\n 오른쪽: 200

왼쪽: 100
오른쪽: 200

In [52]:
# 230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
# 정답 : 왼쪽: 200\n 오른쪽: 100

왼쪽: 200
오른쪽: 100

In [55]:
# 231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# 정답 : 에러가 난다. return이 없기 때문. 
# 함수 내부에서 사용한 변수는 함수 밖에서 접근이 불가능한데, 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 한다.

NameError: name 'result' is not defined

In [58]:
# 232
def make_url(url):
    print("www."+url+".com")
    
make_url("naver")

www.naver.com

In [60]:
# 233 - 다시
def make_list(str):
    list = []
    for i in str:
        list.append(i)
    return list
    
make_list("abcd")

['a', 'b', 'c', 'd']

In [61]:
# 234
def pickup_even(num_list):
    even_list = []
    for i in num_list:
        if i % 2 == 0:
            even_list.append(i)
    return even_list

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [64]:
# 235
def convert_int(str):
    i = int(str.replace(",",""))
    return i

convert_int("1,234,567")

1234567

In [65]:
# 236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
# 정답 : c -> b + 4 -> a + 4 + 4 -> 10 + 4 + 4 + 4 = 22

22

In [66]:
# 237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
# 정답 : 함수(함수(함수(10))) -> 함수(함수(14)) -> 함수(18) -> 22

22

In [67]:
# 238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
# c -> a * 10 -> (10 + 4) * 10 = 140

140

In [68]:
# 239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
# 정답 : 함수1(10+2) -> 12 + 4 = 16

16

In [69]:
# 240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
# 정답 : 함수1(2 + 10) -> 함수0(12 + 2) -> 14 * 2 = 28

28

In [70]:
# 241
import datetime

now = datetime.datetime.now()
print(now)

2022-12-14 23:30:32.652442

In [71]:
# 242
type(now)

datetime.datetime

In [75]:
# 243 - 다시
from datetime import timedelta

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2022-12-09 23:39:29.251995
2022-12-10 23:39:29.251995
2022-12-11 23:39:29.251995
2022-12-12 23:39:29.251995
2022-12-13 23:39:29.251995

- [timedelta](https://windybay.net/post/20/)

In [76]:
# 244 - 다시
now = datetime.datetime.now()

print(now.strftime('%H:%M:%S'))

23:43:08

- [strftime](https://ponyozzang.tistory.com/626)

In [77]:
# 245 - 다시
str_date = '2020-05-04'
ret = datetime.datetime.strptime(str_date, "%Y-%m-%d")
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

- [strptime](https://dev-jy.tistory.com/5)

In [5]:
# 246
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2022-12-15 00:34:42.880008
2022-12-15 00:34:43.884240
2022-12-15 00:34:44.886760
2022-12-15 00:34:45.889179
2022-12-15 00:34:46.894550
2022-12-15 00:34:47.899900
2022-12-15 00:34:48.905225
2022-12-15 00:34:49.908833
2022-12-15 00:34:50.909962
2022-12-15 00:34:51.915115
2022-12-15 00:34:52.920048
2022-12-15 00:34:53.925330
2022-12-15 00:34:54.929084
2022-12-15 00:34:55.934401
2022-12-15 00:34:56.938977
2022-12-15 00:34:57.944265
2022-12-15 00:34:58.948781
2022-12-15 00:34:59.953052
2022-12-15 00:35:00.954237
2022-12-15 00:35:01.959487
2022-12-15 00:35:02.964768
2022-12-15 00:35:03.970127
2022-12-15 00:35:04.973066
2022-12-15 00:35:05.976443
2022-12-15 00:35:06.978271
2022-12-15 00:35:07.980896
2022-12-15 00:35:08.986150
2022-12-15 00:35:09.988927
2022-12-15 00:35:10.994517
2022-12-15 00:35:11.998879
2022-12-15 00:35:12.999444
2022-12-15 00:35:14.000716
2022-12-15 00:35:15.001163
2022-12-15 00:35:16.006289
2022-12-15 00:35:17.011683
2022-12-15 00:35:18.016505
2022-12-15 00:35:19.018823
2022-12-15 00:35:20.023286
2022-12-15 00:35:21.028633
2022-12-15 00:35:22.032961
2022-12-15 00:35:23.036400
2022-12-15 00:35:24.038770
2022-12-15 00:35:25.041762
2022-12-15 00:35:26.046246
2022-12-15 00:35:27.048168
2022-12-15 00:35:28.048837
2022-12-15 00:35:29.054143
2022-12-15 00:35:30.059434
2022-12-15 00:35:31.064613
2022-12-15 00:35:32.069562
2022-12-15 00:35:33.074780
2022-12-15 00:35:34.079719
2022-12-15 00:35:35.081284
2022-12-15 00:35:36.082963
2022-12-15 00:35:37.086988
2022-12-15 00:35:38.091623
2022-12-15 00:35:39.096089
2022-12-15 00:35:40.100925
2022-12-15 00:35:41.106115
2022-12-15 00:35:42.111448
2022-12-15 00:35:43.116777
2022-12-15 00:35:44.119003
2022-12-15 00:35:45.124375
2022-12-15 00:35:46.128635
2022-12-15 00:35:47.133519
2022-12-15 00:35:48.138266
2022-12-15 00:35:49.139199
2022-12-15 00:35:50.143467
2022-12-15 00:35:51.148625
2022-12-15 00:35:52.153944
2022-12-15 00:35:53.156343
2022-12-15 00:35:54.157319
2022-12-15 00:35:55.162633
2022-12-15 00:35:56.164206
2022-12-15 00:35:57.165932
2022-12-15 00:35:58.170442
2022-12-15 00:35:59.173076
2022-12-15 00:36:00.178401
2022-12-15 00:36:01.183118
2022-12-15 00:36:02.187309
2022-12-15 00:36:03.192115
2022-12-15 00:36:04.197407
2022-12-15 00:36:05.202731
2022-12-15 00:36:06.203741
2022-12-15 00:36:07.208410
2022-12-15 00:36:08.212377
2022-12-15 00:36:09.213474
2022-12-15 00:36:10.218744
2022-12-15 00:36:11.223494
2022-12-15 00:36:12.228282
2022-12-15 00:36:13.232727
2022-12-15 00:36:14.234571
2022-12-15 00:36:15.236761
2022-12-15 00:36:16.238932
2022-12-15 00:36:17.244225
2022-12-15 00:36:18.249523
2022-12-15 00:36:19.254723
2022-12-15 00:36:20.258233
2022-12-15 00:36:21.263430
2022-12-15 00:36:22.268694
2022-12-15 00:36:23.270285
2022-12-15 00:36:24.272087
2022-12-15 00:36:25.276446
2022-12-15 00:36:26.277163
2022-12-15 00:36:27.278081
2022-12-15 00:36:28.283323
2022-12-15 00:36:29.287029
2022-12-15 00:36:30.288557
2022-12-15 00:36:31.291294
2022-12-15 00:36:32.294962
2022-12-15 00:36:33.299510
2022-12-15 00:36:34.304788
2022-12-15 00:36:35.308008
2022-12-15 00:36:36.313280
2022-12-15 00:36:37.316974
2022-12-15 00:36:38.318010
2022-12-15 00:36:39.319584
2022-12-15 00:36:40.320358
2022-12-15 00:36:41.322903
2022-12-15 00:36:42.327915
2022-12-15 00:36:43.333226
2022-12-15 00:36:44.337919
2022-12-15 00:36:45.341827
2022-12-15 00:36:46.345988
2022-12-15 00:36:47.351298
2022-12-15 00:36:48.352226
2022-12-15 00:36:49.353722
2022-12-15 00:36:50.358645
2022-12-15 00:36:51.361002
2022-12-15 00:36:52.365746
2022-12-15 00:36:53.369305
2022-12-15 00:36:54.370564
2022-12-15 00:36:55.373543
2022-12-15 00:36:56.377755
2022-12-15 00:36:57.382964
2022-12-15 00:36:58.388240
2022-12-15 00:36:59.390675
2022-12-15 00:37:00.395862
2022-12-15 00:37:01.400110
2022-12-15 00:37:02.403275
2022-12-15 00:37:03.406848
2022-12-15 00:37:04.411859
2022-12-15 00:37:05.413573
2022-12-15 00:37:06.415165
2022-12-15 00:37:07.420507
2022-12-15 00:37:08.425129
2022-12-15 00:37:09.428048
2022-12-15 00:37:10.432741
2022-12-15 00:37:11.435116
2022-12-15 00:37:12.440431
2022-12-15 00:37:13.445794
2022-12-15 00:37:14.451085
2022-12-15 00:37:15.455536
2022-12-15 00:37:16.460764
2022-12-15 00:37:17.465035
2022-12-15 00:37:18.470309
2022-12-15 00:37:19.475017
2022-12-15 00:37:20.480348
2022-12-15 00:37:21.482287
2022-12-15 00:37:22.487692
2022-12-15 00:37:23.492554
2022-12-15 00:37:24.497568
2022-12-15 00:37:25.499288
2022-12-15 00:37:26.504560
2022-12-15 00:37:27.504924
2022-12-15 00:37:28.510171
2022-12-15 00:37:29.515523
2022-12-15 00:37:30.520758
2022-12-15 00:37:31.524458
2022-12-15 00:37:32.527377
2022-12-15 00:37:33.528583
2022-12-15 00:37:34.533851
2022-12-15 00:37:35.537379
2022-12-15 00:37:36.538811
2022-12-15 00:37:37.543980
2022-12-15 00:37:38.544829
2022-12-15 00:37:39.547332
2022-12-15 00:37:40.552587
2022-12-15 00:37:41.553253
2022-12-15 00:37:42.558536
2022-12-15 00:37:43.563700
2022-12-15 00:37:44.568161
2022-12-15 00:37:45.573432
2022-12-15 00:37:46.575943
2022-12-15 00:37:47.580041
2022-12-15 00:37:48.584718
2022-12-15 00:37:49.590004
2022-12-15 00:37:50.591574
2022-12-15 00:37:51.592031
2022-12-15 00:37:52.597193
2022-12-15 00:37:53.602519
2022-12-15 00:37:54.607135
2022-12-15 00:37:55.609459
2022-12-15 00:37:56.614638
2022-12-15 00:37:57.617128
2022-12-15 00:37:58.619368
2022-12-15 00:37:59.624599
2022-12-15 00:38:00.627091
2022-12-15 00:38:01.631479
2022-12-15 00:38:02.636675
2022-12-15 00:38:03.642008
2022-12-15 00:38:04.647219
2022-12-15 00:38:05.652581
2022-12-15 00:38:06.654538
2022-12-15 00:38:07.658525
2022-12-15 00:38:08.663515
2022-12-15 00:38:09.666988
2022-12-15 00:38:10.672255
2022-12-15 00:38:11.673809
2022-12-15 00:38:12.674491

KeyboardInterrupt:

In [ ]:
# 247
from a import * # a에 있는 거 다 가져오세요.
from a import b
import a as b

from 모듈 import 변수
import 모듈 as 이름
import 모듈
import 모듈1, 모듈2
모듈.변수
모듈.함수()
모듈.클래스()
from 모듈 import 변수, 함수, 클래스

- [모듈을 임포트하는 4가지 방식](https://dojang.io/mod/page/view.php?id=2441)

In [6]:
# 248
import os
ret = os.getcwd()
print(ret, type(ret))

/Users/soy/aiffel/afterschool <class 'str'>

In [ ]:
# 249
import os
os.rename("C:/Users/hyunh/Desktop/before.txt", "C:/Users/hyunh/Desktop/after.txt")

In [1]:
# 250
import numpy
for i in numpy.arange(0, 5, 0.1):
    print(i)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9