# 13강. 아이유팬이 좋아할 만한 다른 아티스트 찾기
## 13-3. 데이터 탐색하기와 전처리
### 데이터 준비

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [2]:
# 사용하는 컬럼만 남기기
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
# 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꾸기
data['artist'] = data['artist'].str.lower()
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
# 첫 번째 유저가 듣는 아티스트의 노래 확인
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

- [df.loc[]](https://bearwoong.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%8D%AC-DataFrame-%EC%9D%B8%EB%8D%B1%EC%8B%B1-%ED%95%98%EB%8A%94-%EB%B0%A9%EB%B2%95df-dfloc-dfiloc) : 인덱싱 -> 첫 번째에는 인덱싱할 row, 두 번째에는 인덱싱할 column

### 데이터 탐색

In [5]:
# 유저 수
data['user_id'].nunique()

358868

- pandas.DataFrame.nunique() : 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아볼 수 있다.

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

### 모델 검증을 위한 사용자 초기 정보 세팅

In [10]:
#  처음 가입하는 사용자의 취향과 유사한 아티스트 정보를 5개 이상 입력
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가

data.tail(10)       # 잘 추가되었는지 확인

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

### 모델에 활용하기 위한 전처리

In [11]:
# indexing하기 (user와 artist 각각에 번호를 붙이기)

# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
# 인덱싱이 잘 되었는지 확인
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값 바꾸기

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구하기
# 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

- [get(x)](https://wikidocs.net/16#key-valueget) : x라는 Key에 대응되는 Value를 리턴  
- [map](https://blockdmask.tistory.com/531) : (함수, 반복가능한 자료형) -> 함수를 수행

## 13-4. 사용자의 명시적/암묵적 평가

In [14]:
# 1회만 play한 데이터의 비율
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

## 13-6. CSR(Compressed Sparse Row) Matrix

- [csr_matrix 만드는 방법](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html) 중 4번째 방법 : csr_matrix((data, (row_Ind, col_Ind)), [shape=(M,N)])

In [15]:
# 4번째 방법
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## 13-7. MF 모델 학습하기

In [16]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

- implicit 패키지 : 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지이다.  
- als(AlternatingLeastSquares) 모델 : Matrix Factorization에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않기 때문에, 한쪽을 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행한다.

In [17]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

AlternatingLeastSquares 클래스의 __init__ 파라미터  
1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지  
2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지  
3. use_gpu : GPU를 사용할 것인지  
4. iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지  
- 참고 : factors와 iterations 설정에 따라 과적합 우려가 있으므로 잘 고려해서 설정해야 한다.

In [18]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [19]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

In [20]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [21]:
zimin_vector

array([ 5.0222898e-01, -5.7314354e-01,  8.7335253e-01, -5.1081967e-01,
       -7.5797021e-02,  8.7074012e-01,  9.7896808e-01,  5.4135460e-01,
       -2.3763557e-01,  3.1350288e-01,  1.1980444e-01,  1.3795869e-01,
       -1.4828831e+00, -1.1963867e+00, -4.0037289e-01,  6.9489926e-01,
        6.2987190e-01,  2.4755962e-01,  2.9764813e-01,  2.4754289e-01,
        3.9197776e-02, -4.4461098e-01, -4.5558877e-02, -8.2173103e-01,
       -3.8775524e-01, -6.8823826e-01, -3.7194997e-01, -4.9622157e-01,
       -1.5868047e-01,  1.1485722e+00, -4.6154890e-02, -3.0560216e-01,
        5.8446121e-01, -4.4010577e-01, -7.9553938e-03,  2.0414617e+00,
        2.6684812e-01,  1.8314548e-01, -4.9582696e-01, -1.1531984e+00,
       -1.4192739e+00, -5.8868152e-01,  2.4095590e-01,  1.1243819e+00,
        1.0902385e+00,  2.2892134e-01,  1.4505771e-01, -1.6555570e-02,
       -5.4571635e-01, -6.7552376e-01,  7.5998056e-01,  6.8332958e-01,
        8.5880178e-01,  1.0032327e-02, -2.4124332e-01, -5.0114322e-04,
       -5.9330398e-01, -5.5315602e-01,  1.9217943e+00,  7.5917703e-01,
       -7.3799223e-01,  1.1121929e-01, -7.9025710e-01,  1.3270173e+00,
       -5.5315620e-01, -7.1537054e-01,  7.6437682e-01,  9.7108684e-02,
        3.8967374e-01, -6.8753907e-03,  1.0767066e+00,  3.5329497e-01,
       -3.1007454e-01, -4.1452634e-01,  4.2069924e-01,  7.3171097e-01,
       -5.7324952e-01, -3.8804415e-01,  1.5432812e-01, -2.2675678e-01,
        1.2662327e-01, -6.0209945e-02, -9.1041857e-01,  1.0761776e+00,
       -5.5055696e-01, -5.5848920e-01,  8.4490752e-01,  2.9237035e-01,
       -6.7348546e-01, -1.4512399e-01,  2.9263014e-01, -1.3460484e+00,
        4.6672121e-01,  2.0103131e-01, -5.6268412e-01,  6.1549169e-01,
        6.6044849e-01, -6.5105879e-01,  2.0418233e-01, -2.5217640e-01],
      dtype=float32)

In [22]:
black_eyed_peas_vector

array([ 0.01787636,  0.01217909,  0.02530778,  0.00228017,  0.01524194,
        0.02420609,  0.00808986,  0.01189071,  0.00939208,  0.01671905,
        0.00156827,  0.00922574,  0.01259541, -0.01696182,  0.00616911,
        0.00876749,  0.00700557,  0.01013467,  0.0049638 ,  0.01511966,
        0.00117103, -0.00113941, -0.00237581, -0.00421063,  0.00471126,
       -0.0079925 , -0.00116795,  0.0111507 , -0.00219732,  0.02055631,
        0.01139247,  0.0168    ,  0.00660862,  0.00013475,  0.00914264,
        0.02756822, -0.00312212,  0.01225322, -0.00414018, -0.0051748 ,
       -0.00890723, -0.00669425, -0.0049974 ,  0.02313317,  0.01253085,
        0.00957029,  0.00774697,  0.01319981, -0.00462444,  0.00933042,
        0.01718945,  0.01465686,  0.02149747,  0.02303067,  0.01683095,
        0.00846804,  0.00125694,  0.00826534,  0.02352927,  0.01526836,
       -0.00928945,  0.00364933, -0.0109318 ,  0.02552749, -0.00909143,
       -0.00722116,  0.01149552,  0.01312673,  0.00470759, -0.00407815,
        0.01471027,  0.01067556,  0.0027247 ,  0.00900615,  0.02054797,
        0.01697304, -0.00258873, -0.00591596,  0.00136006, -0.00574833,
        0.01926924,  0.00935978, -0.00894368,  0.02589782, -0.01756272,
        0.00257989,  0.01274876,  0.01338644,  0.00946465,  0.01361573,
        0.00486365, -0.01150678,  0.01730393, -0.0014791 ,  0.00513231,
       -0.00980807,  0.00526029,  0.0016893 , -0.00596275,  0.0025069 ],
      dtype=float32)

In [23]:
# zimin과 black_eyed_peas를 내적
np.dot(zimin_vector, black_eyed_peas_vector)

0.49509487

- 1에 가깝게 나올수록 학습이 잘 되었다고 볼 수 있다. factors를 늘리거나 iterations를 늘려야 한다.  
- 하지만 지금 상황에서는 1에 가깝게 나왔다고 하더라도 아직 검증되지 않았다고 볼 수 있다. 학습 데이터에 대해서 fitting은 되었지만 아직 보지 못한 데이터에 대한, 예를 들어 queen을 선호할지에 대한 예측을 잘할지 못할지는 검증하지 않았기 때문입니다.

In [24]:
# zimin과 queen을 내적
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.32421547

- 사용자와 아티스트 벡터 내적이 0.5를 기준으로 그보다 높으면 모델이 선호한다고 판단했다고 말할 수 있는가? -> 모델을 만드는 사람이 정하기 나름이므로 알 수 없다. 객관적인 지표로 만들어서 기준을 정할 수도 있고 도메인 경험을 통해 정할 수도 있다.

## 13-8. 비슷한 아티스트 찾기 + 유저에게 추천하기
### 비슷한 아티스트 찾기

In [25]:
# similar_items 메서드를 통하여 coldplay와 비슷한 아티스트 찾기
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.9852163),
 (28, 0.97866035),
 (5, 0.97548765),
 (217, 0.97176033),
 (418, 0.9658729),
 (490, 0.96396065),
 (473, 0.96276104),
 (694, 0.9585999),
 (247, 0.95558083),
 (910, 0.9492837),
 (782, 0.941969),
 (268, 0.93772286),
 (1018, 0.93738025),
 (55, 0.93729776)]

In [26]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict 생성
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'u2',
 'oasis',
 'placebo',
 'foo fighters',
 'the beatles',
 'nirvana',
 'the white stripes',
 'pink floyd',
 'the smashing pumpkins',
 'arctic monkeys']

In [27]:
# 위의 과정이 담긴 함수
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

In [28]:
# 확인(2pac)
get_similar_artist('2pac')

['2pac',
 'dr. dre',
 'notorious b.i.g.',
 'the game',
 'nas',
 'snoop dogg',
 'jay-z',
 '50 cent',
 'ice cube',
 'ludacris']

In [29]:
# 확인(lady gaga)
get_similar_artist('lady gaga')

['lady gaga',
 'katy perry',
 'britney spears',
 'rihanna',
 'the pussycat dolls',
 'beyoncé',
 'kelly clarkson',
 'christina aguilera',
 'leona lewis',
 'justin timberlake']

### 유저에게 아티스트 추천하기

In [30]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.48689336),
 (550, 0.4665925),
 (369, 0.45850474),
 (354, 0.44137996),
 (274, 0.43576488),
 (409, 0.43423754),
 (1800, 0.43320733),
 (355, 0.4268956),
 (627, 0.42367783),
 (2249, 0.40831256),
 (621, 0.395406),
 (391, 0.3878722),
 (618, 0.37476367),
 (434, 0.3691209),
 (564, 0.36732334),
 (901, 0.36689308),
 (899, 0.36159337),
 (24, 0.36108947),
 (715, 0.35953313),
 (5555, 0.35902715)]

- recommend 메서드를 통하여 아티스트를 추천받기  
- filter_already_liked_items 는 유저가 이미 평가한 아이템은 제외하는 Argument

In [31]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'britney spears',
 'justin timberlake',
 'nelly furtado',
 'michael jackson',
 'amy winehouse',
 'lady gaga',
 'madonna',
 'maroon 5',
 'katy perry',
 'alicia keys',
 'christina aguilera',
 'the pussycat dolls',
 'eminem',
 'kanye west',
 'pink',
 'kylie minogue',
 'jack johnson',
 'norah jones',
 'timbaland']

In [32]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

- explain 메서드 : 기록을 남긴 데이터 중 이 추천에 기여한 정도를 확인할 수 있다. -> 추천한 콘텐츠의 점수에 기여한 다른 콘텐츠와 기여도(합이 콘텐츠의 점수)를 반환한다.

In [33]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.21992191964330018),
 ('black eyed peas', 0.15186121999055055),
 ('jason mraz', 0.06978562379034724),
 ('coldplay', 0.04637335290321314),
 ('maroon5', 0.00014863253500150273)]

- beyoncé와 black eyed peas가 가장 크게 기여했음을 알 수 있다.  
- filter_already_liked_items=True로 했는데 앞에 이미 평가한 maroon 5 나온다. 이것은 implicit 버전 0.4.2에서 생긴 버그인데, 코드는 사람이 만들기 때문에 이렇게 실수할 가능성이 있다.